@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;500&family=Poppins:wght@100;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}
